<style>
body {
    background-color: rgb(245,245,245);
}

.tab {
    overflow: hidden;
    background-color: inherit;
    text-align: center;
    vertical-align: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0px;
    transition: 0.3s;
    width: 100px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tab button:focus {
    box-shadow: 0 0 0 1px blue;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.active {
    overflow: hidden;
    background-color: inherit;
    text-align: center;
    width: 100%;

}

.active button {
    background-color: white;
    border: 1px solid #ccc; 
    outline-radius: 10px;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    padding: 10px 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: 0.3s;
    width: 40%;
    border-radius: 10px;
    height: 20px;
    line-height: 0px;
}

.active button:focus {
    box-shadow: 0 0 0 1px blue;
}

.active button:hover {
    background-color: #ddd;
}

.container {
    width: 100%;
    margin: auto;
    padding: 10px;
}
.left {
    width: 70%;
    float: left;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.right {
    margin-right: 10px;
}

.table {
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

.textfield {
    height: 28px;
    width: 150px;
    font-size: 12px;
    text-align: center;
}

.results {
    display: table-cell;
    height: 28px;
    width: 150px;
    text-align: center;
    vertical-align: middle;

    border-width: 1px;
    border-color: rgba(0,0,0,0);
    border-style: solid;
}

.label {
    padding-left: 1em;
    padding-right: 1.8em;
    overflow: hidden;
    white-space: nowrap;
}

.bold{
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

.radio-left{
    text-align: center;
    padding-left: 10%
}

.radio-right{
    text-align: center;
    padding-right: 20%
}

.radio-table {
    width: 100%;
}

.stat {
   display: table-row;
}

.settings {
    display:none;
}

</style>

<h1> Gradeweb </h1>

<section class="container">

<div class="left">
<!--<canvas id="myChart" style="background-color: white; height: 593px"></canvas>-->
<div id="chart_div" style="width: 100%; height: 593px;"></div>
<script>

var createHistogram = function(datum){
    google.charts.load("current", {packages:["corechart"]});
    var drawChart = function(){
        var data = google.visualization.arrayToDataTable(datum);

        var options = {
          title: 'Lengths of dinosaurs, in meters',
          legend: { position: 'none' },
          colors: ['green']
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
    };
    google.charts.setOnLoadCallback(drawChart);
};

var createChart = function(){
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Heyra"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }, 
            responsive: true,
            maintainAspectRatio: false,
        }
    });
};



var updateHistogram = function(){
    var state = {
            std: parseFloat($("#std-txt").val()),
            median: parseFloat($("#median-txt").val()),
            mean: parseFloat($("#mean-txt").val()),
            min: parseFloat($("#min-txt").val()),
            max: parseFloat($("#max-txt").val()),
            people: parseFloat($("#people-txt").val()),
            personal: parseFloat($("#personal-txt").val())
       };

   $.ajax({
        type: "POST",
        url: "/",
        data: JSON.stringify(state),
        contentType: 'application/json',
        cache: false,
        success: function(data){
            //console.log("success");
            $("#std-graph").text(data.std);
            $("#mean-graph").text(data.mean);
            $("#median-graph").text(data.median);
            $("#percentile-graph").text(data.personal);

            if(data.personal > 50){
                $('#percentile-graph').css({'background-color' : 'rgb(150,255,150)', 'color' : 'rgb(0,100,0)'});
            } else if(data.personal < 50){
                $('#percentile-graph').css({'background-color' : 'rgb(255,150,150)', 'color' : 'rgb(100,0,0)'});
            } else {
                $('#percentile-graph').css({'background-color' : 'rgb(245,245,245)', 'color' : 'rgb(0,0,0)'});
            }

            createHistogram(data.data);
        },
        error: function(err){
            console.log("error");
        }
   });
}

$(document).ready(function(){

    updateHistogram();

    $("#generate-btn").click(updateHistogram);

    $("#fitness-btn").click(function(){
        //alert("you clicked fitness");
    });

    $("#update-btn").click(function(){
        //alert("you clicked update");
    });

    $("#clear-btn").click(function(){
        //alert("you clicked clear");
    });

    $("#stat-tab").click(function(){
        $(".stat").css({'display' : 'table-row'});
        $(".settings").css({'display' : 'none'});
        $("#stat-tab").css({'background-color' : '#ccc'});
        $("#settings-tab").css({'background-color' : 'inherit'});
    });

    $("#settings-tab").click(function(){
        $(".stat").css({'display' : 'none'});
        $(".settings").css({'display' : 'table-row'});
        $("#stat-tab").css({'background-color' : 'inherit'});
        $("#settings-tab").css({'background-color' : '#ddd'});
    });

});



</script>

</div>

<div class="right">


<table class="table">
<tr>
    <th></th>
    <th></th> 
 </tr>
<tr>
    <td colspan ="2">
        <div class="tab">
            <button class="tablinks" id="stat-tab" style="background-color: #ccc">Stats</button>
            <button class="tablinks" id="settings-tab">Settings</button>
        </div>
    </td>
</tr>

<tr class="stat">
    <td colspan="2" class="bold"><b>Statistics:</b></td>
</tr>
<tr class="stat">
	<td><label class="label">STD</label></td>
	<td><input type="text" name="STD" id="std-txt" class="textfield" value="18"></td>
</tr>
<tr class="stat">
	<td><label class="label">Median</label></td> 
	<td><input type="text" name="Median" id="median-txt" class="textfield" value="50"></td> 
</tr>
<tr class="stat">
	<td><label class="label">Mean</label></td>
	<td><input type="text" name="Mean" id="mean-txt" class="textfield" value="50"><br/></td>
</tr>
<tr class="stat">
	<td><label class="label">Min</label></td>
	<td><input type="text" name="Min" id="min-txt" class="textfield" value="0"><br/></td>
</tr>
<tr class="stat">
	<td><label class="label">Max</label></td>
	<td><input type="text" name="Max" id="max-txt" class="textfield" value="100"><br/></td>
</tr>
<tr class="stat">
	<td><label class="label">People</label></td>
	<td><input type="text" name="People" id="people-txt" class="textfield" value="100"><br/></td>
</tr>
<tr class="stat">
	<td><label class="label">Personal Score</label></td>
	<td><input type="text" name="Personal Score" id="personal-txt" class="textfield" value="50"><br/></td>
</tr>

<tr class="stat">  
    <td colspan="2" class="bold"><b>Results:</b></td>
</tr>
<tr class="stat">
    <td><label class="label">Graph STD</label></td>
    <td><span class="results" id="std-graph">yo</span>
</tr>
<tr class="stat">
    <td><label class="label">Graph mean</label></td>
    <td><span class="results" id="mean-graph"></span>
</tr>
<tr class="stat">
    <td><label class="label">Graph median</label></td>
    <td><span class="results" id="median-graph"></span>
</tr>
<tr class="stat">
    <td><label class="label">Percentile</label></td>
    <td><span class="results" id="percentile-graph"></span>
</tr>
<tr class="stat">
    <td colspan="2" class="bold"><b>Metrics:</b></td>
</tr>


<tr class="stat">
    <td><label class="label">X spacing</label></td>
    <td><input type="text" name="X spacing" id="spacing-txt" class="textfield"></td>
</tr>
<tr class="stat">
    <td><label class="label">#y ticks</label></td> 
    <td><input type="text" name="y ticks" id= "ticks-txt" class="textfield"></td> 
</tr>

<tr class="stat">
    <td colspan="2">
        <table class="radio-table">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td class="radio-left"><input type="radio" name="spacing" id="absolute"><label for="absolute">Absolute</label></td>
                <td class="radio-right"><input type="radio" name="spacing" id="relative"><label for="relative">Relative</label></td>
            </tr>
        </table>
    </td>
</tr>

<tr class="stat">
    <td colspan="2">
        <div class="active">
            <button id="generate-btn">Generate</button>
            <button id="fitness-btn">Display Fitness</button>
        </div>
    </td>
</tr>

<tr class="stat">
    <td colspan="2">
        <div class="active">
            <button id="update-btn">Update Graph</button>
            <button id="clear-btn">Clear</button>
        </div>
    </td>
</tr>

<!-- end of stats page -->

<!-- settings page -->

<tr class="settings">
    <td colspan="2" class="bold"><b>Settings:</b></td>
</tr>

<tr class="settings">
    <td><label class="label">Generations</label></td>
    <td><input type="text" name="generation" id="generation-txt" class="textfield" value="300"></td>
</tr>

<tr class="settings">
    <td><label class="label">Threshold</label></td>
    <td><input type="text" name="threshold" id="threshold-txt" class="textfield" value="1000"></td>
</tr>

<tr class="settings">
    <td><label class="label">Population</label></td>
    <td><input type="text" name="population" id="population-txt" class="textfield" value="300"></td>
</tr>

<tr class="settings" style="visibility: hidden">
    <td><label class="label">Personal Score</label></td>
    <td><input type="text" name="hidden" id="hideen-txt" class="textfield" value="300"></td>
</tr>

<!-- end of settings -->

</table>

<span id="msg">{{msg}}</span> 



</div>



</section>
